@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600|Montserrat:400,500,600|Roboto:400,500');

/*===Colors and Margins===*/

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    height: 100%;
    background: #ffffff;
    scroll-behavior: smooth;
}

h1 {
    font-family: Montserrat;
}

p {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Montserrat;
}

/*===Input Style===*/

#place-input {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Roboto;
    border: 1px solid #8900FF;
    padding-left: 10px;
}

#place-input:hover {
    font-family: Montserrat;
    font-style: italic;
}

#place-input::placeholder {
    color: #8900FF;
    font-family: Lato;
    padding-left: 10px;
}

/*===Weather===*/

#weatherButton {
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Lato;
    background-color: #ffffff;
    color: #05dfc7;
    border-color: #05dfc7;
}

#weatherButton:hover {
    color: #ffffff;
    background-color: #05dfc7;
    font-family: Roboto;
}

.weather-icon,
.weather,
.temperature {
    padding: 0 5px;
}

.weatherError {
    font-size: 0.75rem;
    text-align: center;
}

/*===Map===*/

#map {
    width: 100%;
    height: 85vh;
}

#map:hover {
    -webkit-box-shadow: -3px 3px 6px 0 #707070;
    box-shadow: -3px 3px 6px 0 #707070;
}

/*---Table---*/

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#listing {
    width: 100%;
    height: 85vh;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
    font-family: Lato;
    font-weight: 400;
    background-image: url("../images/pictures/listing-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#results:hover {
    font-family: Roboto;
    font-weight: 500;
}

/*---Info Window---*/

#info-content {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
}

#rating {
    font-size: 13px;
    font-family: Arial;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: left;
}

.iw_table_icon {
    text-align: center;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.infoIcon {
    width: 24px;
    height: 24px;
}

/*===Select Form===*/

#typeSelect {
    height: 100%;
    border: 1px solid #0099FF;
    color: #0099FF;
    font-weight: 500;
    font-family: Lato;
    padding-left: 10px;
}

#typeSelect:hover {
    color: #0099FF;
    border: 1px solid #0099FF;
    font-family: Montserrat;
}

.input-group-text {
    color: #ffffff;
    background-color: #b3d7ff;
    border: 1px solid #0099FF;
    font-family: Roboto;
}

/*===Header Text Animation===*/

/*--Header Span Animation--*/

.text-blur-out {
    -webkit-animation: text-blur-out 6s ease-out 3s 2 alternate both;
    animation: text-blur-out 6s ease-out 3s 2 alternate both;
}

/*--Animation text-blur-out--*/

@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

/*===Media Queries===*/

/*--iPad Pro--*/

@media only screen and (max-device-width: 1366px) {
    /*--Styles--*/
    h1 {
        text-align: left;
    }
    #place-input {
        font-size: 1.5rem;
    }

    #map {
        height: 95vh;
    }

    #listing {
        height: 95vh;
    }
}

/*--iPad--*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /*--Styles--*/
    h1 {
        text-align: left;
    }

    #place-input {
        font-size: 1.5rem;
    }

    #map {
        height: 90vh;
    }

    #listing {
        height: 90vh;
    }
}

/*--iPhone 5--*/

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
    /*--Styles--*/
    h1 {
        font-size: 1.125rem;
        text-align: center;
    }

    #place-input {
        font-size: 1.125rem;
    }

    .weatherButton {
        font-size: 0.75rem;
    }
}

/*--iPhone X--*/

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
    /*--Styles--*/
    h1 {
        font-size: 1.125rem;
        text-align: center;
    }

    #place-input {
        font-size: 1.25rem;
    }

    .weatherButton {
        font-size: 0.75rem;
    }
}

/*--Samsung Galaxy S5--*/

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
    /*--Styles--*/
    h1 {
        font-size: 1rem;
        text-align: center;
    }

    #place-input {
        font-size: 1rem;
    }

    #typeSelect {
        font-size: .75rem;
    }

    .weatherButton {
        font-size: 0.75rem;
    }
}
