/*===Colors and Margins===*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pac-input {
    width: 100%;
}

button {
    width: 100%;
}

.weather-icon,
.weather,
.temperature {
    padding: 10px;
}
